<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {{>header}}
</head>
<body>
    <div class="register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://coronavirus.utah.gov/wp-content/uploads/vaccine_.png?x58403" alt="" style="height:150px;width:150px"/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active"  href="/login" style="width:auto">Login</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Registration Form</h3>
                                <form action="/register" method="POST">
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name *" value="" name="firstName" />
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your Email *" value="" name="email" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password *" value="" name="password" />
                                            </div>
                                        
                                            <div class="form-group">
                                                <div class="maxl">
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="male" checked>
                                                        <span> Male </span> 
                                                    </label>
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="female">
                                                        <span>Female </span> 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name *" value="" name="lastName" />
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" name="cpassword"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter Your Age *" value="" name="age"/>
                                            </div>
                                            <input type="submit" class="btnRegister"  value="Register"/>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Employee Login</h3>
                                    <div class=" register-form">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password *" value="" />
                                            </div>
                                            <div class="text-center">
                                                <input type="submit" class="btnRegister"  value="Login"/ style="float: none;">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</body>
</html>